@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --body-font-family: "Work Sans", Helvetica;
  --body-font-size: 13px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: -0.26px;
  --body-line-height: normal;
  --fuschia-100: rgba(239, 93, 168, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --fuschia-80: rgba(241, 120, 182, 1);
  --header-1-font-family: "Work Sans", Helvetica;
  --header-1-font-size: 34px;
  --header-1-font-style: normal;
  --header-1-font-weight: 700;
  --header-1-letter-spacing: -0.68px;
  --header-1-line-height: normal;
  --header-2-font-family: "Work Sans", Helvetica;
  --header-2-font-size: 20px;
  --header-2-font-style: normal;
  --header-2-font-weight: 700;
  --header-2-letter-spacing: -0.4px;
  --header-2-line-height: normal;
  --iris-100: rgba(93, 95, 239, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --primary: rgba(31, 43, 108, 1);
  --secondary: rgba(21, 158, 236, 1);
  --white: rgba(252, 254, 254, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
